[Unit]
Description=HTTP Server

[Service]
Type=forking
User=root
Group=nobody
WorkingDirectory=/srv/http/
ExecStart=/usr/local/bin/rshttpd.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
